<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Aiotel</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>face Recognition And OCR</p>
                                <div><p>displaying name here :</p></div>
								<p id="nameid"></p>
                                <h2></h2>
                                <div class="typed-text">Sample theme,Face Recognition And OCR</div>
                            </div>
                            <div class="hero-btn">
                                <a class="btn" onclick="changeImage()">ID CARD 1</a>
                                <a class="btn" href="">ID CARD 2</a>
								<a class="btn" href="">ID CARD 3</a>
								
								
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
						
                            <img src="4.png" id="myImage">
							<div><p>Displaying name here:</p></div>
							<div id="displayname">
                                
                                {% block content %}
                                    {% for c in content%}
                                       <p>{{c}}</p>
                                    {% endfor %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/typed/typed.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        
     
 
    

    <script>
        function changeImage() {
            var image = document.getElementById('myImage');
			var name='';
            if (image.src.match("6.png")) {
                image.src = "4.png";
            }
            else {
                image.src = "6.png";
            }
			var stuff=new Array("ARUN","ram");
		
			/*for(i=0;i<stuff.length;i++)
			{
			
			console.log(stuff[i]);
			name=name+stuff[i];
			}*/
			console.log('displaying name',name);
			document.getElementById('nameid').innerHTML=stuff[1];
			return name;
			
        }
			
								
		
    </script>
   
   

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
